#include "winver.h"

 IDI_ICON1               ICON    DISCARDABLE     "src_icons/powerfalcon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,7,2
 PRODUCTVERSION 0,1,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
	    VALUE "CompanyName", "datafault.net"
	    VALUE "FileDescription", "Falcon 3d Object Maker"
	    VALUE "FileVersion", "1.0.7-alpha v2"
	    VALUE "LegalCopyright", "GNU GPL v3"
            VALUE "InternalName", "FalconObjectMaker"
            VALUE "OriginalFilename", "FalconObjectMaker.exe"
	    VALUE "ProductName", "Power Falcons - WarZone"
	    VALUE "ProductVersion", "2.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
